# BELOW IS A BASIC EXAMPLE - COPY AND MODIFY AS NEEDED:

# Defaults apply to as the 'starting' values for all projects being exported
defaults:
  url: "[HOST_NAME]/api/"             # e.g. https://redcap.stanford.edu/api/
  output_path: "exports/"             # Enter a path where the export csv files should go
  raw_or_label: "raw"                 # Valid values are 'raw', 'label', 'both'
  format: "csv"                       # Valid options are 'json', 'csv', or 'xml'

# Define one or more projects for API export below
projects:
  - token: "[PROJECT_TOKEN]"          # Enter your REDCap API Token
    file_prefix: "proj_a"             # Enter a valid prefix for the output files (proj_a.csv will be result)
  - token: "[SECOND_TOKEN]"
    file_prefix: "proj_b"